<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    
    <% messages.forEach((message) => { %>
      <br><br>
      <% if(currentUser.membership_status) { %>
        <% users.forEach((user) => { %>
          <% if(user.id === message.user_id){ %>
            User: <%= user.username %> <br>
          <% } %>
        <% }) %>
        Date: <%= message.timestamp %> <br>
     <% } %>
     Title: <%= message.title %> <br>
     Content: <%= message.text %> <br>
    <% }) %>
    <br> <br>
    <% if(!currentUser.membership_status){ %>
      <a href = "/membership"> Join Membership</a>
    <% } else { %>
      <a href = "/message"> Create a New Message</a> <br> 
    <% } %>
    <a href="/log-out">Log Out</a>
  <% } else { %>
    <a href = "/login"> Login </a> <br>
    <a href = "/sign-up"> Sign Up </a> 
  <% } %>
</body>
</html>